.lista {
    height: calc(100vh - 200px);min-height: 100%;overflow-y:auto;
}
.navbar-brand {
    padding: 0px; /* firefox bug fix */
  }
.navbar-brand>img {
    height: 100%;
    padding: 15px; /* firefox bug fix */
    width: auto;
}