
 

<div class="right">
  <div class="container">
      
      <div class="row__inner" *ngFor="let anime of (evidenza | async)">
        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="{{anime.image}}"/>
          </div>
          <div class="tile__title">
            {{anime.name}}
          </div>
        </div>
      </div>
      
  </div>
  <div class="container">
      
      <div class="row__inner" *ngFor="let anime of (suggeriti | async)">
        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="{{anime.image}}"/>
          </div>
          <div class="tile__title">
            {{anime.name}}
          </div>
        </div>
      </div>
      
  </div>
</div>
<div class="left">
    <div style="width:250px;height:250px;">
      <img width="250" height="250" src="assets/img/logo.png"/>
    </div>

</div>

<!--div class="full">
  <header>

  </header>
  <footer>
    <div class="row" style="padding:15px;display: flex;text-align: center;justify-content: center;">
        <p (click)="clickEvidenza()" style="font-weight: 600;font-size: 20px;color: #777;text-transform: uppercase;">Evidenza</p>
        <p (click)="clickSuggeriti()" style="font-weight: 600;font-size: 20px;color: #777;text-transform: uppercase;">Suggeriti</p>
    </div>
      
  </footer>
  <div class="row box" style="padding-bottom: 15px;" *ngIf="(viewEvidenza | async)">
      <div *ngFor="let anime of (evidenza | async)">
        <div class="card">
          <div class="imgBx">
            <img src="{{anime.image}}" >
          </div>
          <div class="details">
            <h2 style="overflow: hidden;text-overflow: ellipsis;">{{anime.name}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row box" style="padding-bottom: 15px;"  *ngIf="(viewSuggeriti | async)">
      <div *ngFor="let anime of (suggeriti | async)">
        <div class="card">
          <div class="imgBx">
            <img src="{{anime.image}}" >
          </div>
          <div class="details">
            <h2 style="overflow: hidden;text-overflow: ellipsis;">{{anime.name}}</h2>
          </div>
        </div>
      </div>
    </div>
</div-->



 
<!--div id="wrapper">
  
    


      <div class="row" style="display: flex;align-items: center;justify-content: center;">
      <p (click)="clickEvidenza()" style="margin:15px;font-weight: 600;font-size: 20px;color: #777;text-transform: uppercase;">Evidenza</p>
      <p (click)="clickSuggeriti()" style="margin:15px;font-weight: 600;font-size: 20px;color: #777;text-transform: uppercase;">Suggeriti</p>
    </div>
    <div class="row box" style="padding-bottom: 15px;" *ngIf="(viewEvidenza | async)">
      <div *ngFor="let anime of (evidenza | async)">
        <div class="card">
          <div class="imgBx">
            <img src="{{anime.image}}" >
          </div>
          <div class="details">
            <h2 style="overflow: hidden;text-overflow: ellipsis;">{{anime.name}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row box" style="padding-bottom: 15px;"  *ngIf="(viewSuggeriti | async)">
      <div *ngFor="let anime of (suggeriti | async)">
        <div class="card">
          <div class="imgBx">
            <img src="{{anime.image}}" >
          </div>
          <div class="details">
            <h2 style="overflow: hidden;text-overflow: ellipsis;">{{anime.name}}</h2>
          </div>
        </div>
      </div>
    </div>
    
	<div id="column-center">
    <div *ngFor="let anime of (animes | async)">
      <div style="width:40%" *ngIf="i%2 == 0">
        <div class="blog-card">
          <div class="meta">
            <img class="photo" src="{{anime.image}}"/>
          </div>
          <div class="description">
            <h1>{{anime.name}}</h1>
            <h2>{{anime.episodi.length}} episodi</h2>
            <p class="read-more">
              <a (click)="selectAnime(anime)">Read More</a>
            </p>
          </div>
        </div>          
      </div>  
      <div style="width:40%" *ngIf="i%2 != 0">
        <div class="blog-card">
          <div class="meta">
            <img class="photo" src="{{anime.image}}"/>
          </div>
          <div class="description">
            <h1>{{anime.name}}</h1>
            <h2>{{anime.episodi.length}} episodi</h2>
            <p class="read-more">
              <a (click)="selectAnime(anime)">Read More</a>
            </p>
          </div>
        </div>      
      </div> 
      
    </div>
  </div>
 
 
	
  
</div-->
