

 

.left {
  padding-top:-15px;
  display:flex; 
  justify-content:center; 
  width:300px;
  height:100%;
  background:rgb(99, 154, 236);
  float:left;
}

.right {
  width:calc(100% - 300px);
  height:100%;
  float:right;   

}



 
.container{
  overflow-x: auto;
  min-height: 28vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.row__inner{
  white-space: nowrap;
  padding: 10px;
}
.tile{
  padding:20px;
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 300px;
  height: 250px;
  font-size: 20px;
  cursor: pointer;
}
.tile__img{
  width: 300px;
  height:250px;
  object-fit: cover;
}

.tile__title{
  width: 280px;
  font-weight:200;
  font-size: 14px;
  color: #DCDCDC;
  background-color: #212121;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  position:absolute;
  bottom: 0;
  padding: 10px;
}
.box{
  margin-right: 25px;
  width: 300px;
  height: 50px;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button {
  width:150px;
  height:50px;
  border: none;
  padding: 15 auto;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button5 {
  background-color: #2b303b;
  color: #fff;
}



.custom-dropdown {
 
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.custom-dropdown select {
  width:150px;
  height:50px;
  cursor: pointer;
  background-color: #2b303b;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}


.grid { 
  justify-content: center;
  overflow-y: scroll; height: 600px;
  margin-left: 1em;
  margin-right: 1em;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}


.slideshow-container {
  height:460px;
  background: #f1f1f1f1;
}

.sliderSingle{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mySlides {
  cursor: pointer;

  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}


.firstText{
  padding:15px;
  font-size:30px;
  color: #212121;
}
.all{
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:100px;
}