div { position:fixed; width:50%; height:50% }
#anime { top:0;   left:0;   background:orange;  position: relative; }
#logo { top:0;   left:50%; display: flex;    }
#manga { top:50%; left:0;       }
#login { top:50%; left:50%; background:red     }   
.img{
    margin:auto;
}
.bt-left{
    position: absolute;
    left: 10%;
    margin-left: -50px;
    bottom:30px;
}